*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
}

.recipe{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: brown;
    font-size: 48px;
}

.ad{
    margin-top: 30px;
    width: 300px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 50% 35% 15%;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: teal;
    background-color: ivory;
    opacity: 70%;
    align-self: center;
}

.recipelink{
    text-decoration: none;
    text-align:center;
    display: grid;
    justify-content: center;
    align-items: center;
}

img{
    width: 70px;
    height: 70px;
    margin: auto;
}