*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.recipe{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: orange;
    font-size: 48px;
}

.ad{
    margin-top: 30px;
    width: 300px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 65% 35%;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: brown;
}

.recipelink{
    text-decoration: none;
    text-align:center;
    display: grid;
    justify-content: center;
    align-items: center;
}