*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    margin: 5px;
    background-image: url(../gridticket/festival\ foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.ticket{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70% 30%;
    border: 1px solid black;        
}

.header{
    color: black;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: grid;
    border: 1px solid black; 
}

.header p{
    font-weight: 100;
    margin: 0;
    margin-top: 50px;
    font-size: 20px;
}

#title{
    font-size: 84px;
    font-weight:700;
    margin: 0;
    order:1;
}

.QR {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    margin: auto;
}

.QR img{
    max-width: 100%;
    max-height: 100%;
}

.tick{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    font-size: 24px;
    font-weight: 900;
}

.ticketadm{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.ticketinfo{
    border: 1px solid black;
}

.ticketprice{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border: 1px solid black;
}

.HiddenOnMobile{
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: grid;
}

.entrance{
    display: grid;
    grid-row: 2 / 4;
    grid-column: 1/ 2;
}

@media (max-width: 1000px){
    *{
        box-sizing: border-box;
    }
    
    body{
        margin: 0;
        padding: 0;
    }

    .ticket{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 60% 20%;
        border: none;
    }
    
    .header{
        color: white;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        background-color: black;
        display: grid;
    }
    
    .header p{
        font-weight: 100;
        margin: 0;
        margin-bottom: 20px;
        margin-top: 5px;
        font-size: 16px;
    }
    
    #title{
        font-size: 48px;
        font-weight:700;
        margin: 0;
        margin-top: 15px;
        order: 0;
    }
    
    .QR {
        margin: auto;
        display: grid;
        grid-row: 2/3;
        grid-column: 1/ 1;
    }

    .tick{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        font-size: 16px;
        font-weight: 700;
    }
    
    .ticketadm{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;    
    }
    
    .ticketinfo{
        border: 1px solid black;
    }
    
    .ticketprice{
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        border: 1px solid black;
    }
    
    .HiddenOnMobile{
        display: none;
    }  

    .entrance{
        display: grid;
        grid-row: 3 / 4;
        grid-column: 1/ 1;
    }
}
